# Ignore data files
*.tsv
*.html
*.json

# Ignore genetic data
*.fasta
*.fastq*
*.vcf
*.bam
*.bed
*.wig
*.gff
*.gtf
*.fa
*.tsv*

# Ignore jupyter notebooks
#*.ipynb

# Ignore log files
*.out
*.log

# Ignore temporary files
*.tmp
*.bak
*~

# Ignore IDE and editor specific files
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.code-workspace
*.Rhistory
*.Rprofile

# Ignore other Mac dot files
.DS_Store
.AppleDouble
.LSOverride

# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib
.Rproj.user

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore archived files
**/archive/

# Ignore figures
figures/*
*.png

# Ignore notes
.obsidian/*

# Ignore test data folders
tests/oPool5b_GTAC/
tests/OTX2/
tests/GLI2_DBD_B/
tests/crx_cohen/

# Ignore virtual environment
venv/

# Ignore Python package distribution files
*.egg-info/
eln/Wishlist.md
